@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInTopDropdown {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

span {
  color: #f95700ff;
}

body {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.header-text {
  width: 90%;
  text-align: center;
}
.header-text .text {
  font-size: 3rem;
  font-weight: 600;
  color: #f05806;
  margin-bottom: 2rem;
  animation: moveInBottom 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}
@media (max-width: 1140px) {
  .header-text .text {
    font-size: 2rem;
  }
}
.header-text .primary-heading {
  font-size: 6rem;
  margin-bottom: 6rem;
}
.header-text .primary-heading span {
  color: #fff;
}
.header-text .primary-heading__main {
  display: block;
  animation: moveInRight 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}
.header-text .primary-heading__sub {
  display: block;
  animation: moveInLeft 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}
@media (max-width: 1140px) {
  .header-text .primary-heading {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .header-text .primary-heading {
    font-size: 2.5rem;
  }
}

.u-hamburger-menu-full {
  height: 300px !important;
}

.u-blog_dropdown-full {
  display: block !important;
}

.u-color-black {
  color: #181818;
}

.u-bg-lightgray {
  background-color: #F8F8F8;
}

.ham-menu-btn {
  display: inline-block;
  background-color: #181818;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #fff;
}

.navbar-dropdown {
  width: 90%;
  background-image: linear-gradient(to right bottom, rgba(249, 87, 0, 0.89), rgba(248, 129, 65, 0.89));
  position: absolute;
  top: calc(10vh + 2px);
  padding: 1rem 3rem;
  display: block;
  border-radius: 0 0 5px 5px;
  z-index: 2000;
  min-width: 222px;
}
@media (min-width: 992px) {
  .navbar-dropdown {
    display: none;
  }
}
.navbar-dropdown .navbar-dropdown__options {
  animation: optionsOpacity 350ms ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  height: 0px;
  transition-property: height;
  transition-duration: 0.7s;
}
.navbar-dropdown .navbar-dropdown__option .option:not(.my-collection) {
  display: block;
  font-size: 2rem;
  color: #fff;
  line-height: 3;
}
.navbar-dropdown .navbar-dropdown__option .navbar-dropdown__option--menu {
  display: none;
  padding: 1rem 2rem;
  background-color: #e6cbcb;
  border-radius: 5px;
  animation: heightIncrease 200ms;
}
.navbar-dropdown .navbar-dropdown__option .navbar-dropdown__option--menu .menu-option {
  font-size: 2rem;
  line-height: 2;
  color: #f05806;
  animation: optionsOpacity 250ms;
  font-weight: 700;
}

.header-text .btn:link, .header-text .btn:visited {
  background-image: linear-gradient(to right, #f95700, #f88141);
  color: #fff;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  animation: moveInTop 1s ease-out 0.5s;
  animation-fill-mode: backwards;
  position: relative;
}
.header-text .btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 0.8s;
}
.header-text .btn:hover::after {
  transform: scale(1.4);
  opacity: 0;
}
.header-text .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
}
.header-text .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.199);
}
.header-text .btn::after {
  background-image: linear-gradient(to right, #f95700, #f88141);
}

.nav-bar__button {
  display: none;
}
.nav-bar__button .btn {
  font-size: 2rem;
  background-color: #181818;
  color: #f95700ff;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 300ms;
}
.nav-bar__button .btn:hover {
  background-image: linear-gradient(to right, #f95700, #f88141);
  color: #fff;
}
@media (min-width: 550px) {
  .nav-bar__button {
    display: block;
    margin-right: 2rem;
  }
}
@media (min-width: 992px) {
  .nav-bar__button {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav-bar__button {
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
}

.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  z-index: 3000;
  box-shadow: 0 1px 10px #181818;
  min-height: 70px;
}
.nav-bar__brand {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-bar__brand .brand-logo img {
  width: 30px;
}
@media (min-width: 992px) {
  .nav-bar__brand .brand-logo img {
    width: 50px;
  }
}
.nav-bar__brand .brand-name {
  font-size: 2.7rem;
  font-weight: 800;
}
@media (min-width: 992px) {
  .nav-bar__brand .brand-name {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  .nav-bar__brand .brand-name {
    display: none;
  }
}
.nav-bar .nav-bar__items {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
}
.nav-bar .nav-bar__items .nav-bar__link:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 250%;
  height: 200%;
  background-color: red;
  z-index: -1;
  position: absolute;
  left: -80%;
  opacity: 0;
}
.nav-bar .nav-bar__items .nav-bar__links {
  list-style: none;
  display: none;
}
@media (min-width: 992px) {
  .nav-bar .nav-bar__items .nav-bar__links {
    display: flex;
  }
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link {
  font-size: 2rem;
  margin: 0 2.5rem;
  color: #f95700ff;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: all 200ms;
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link:hover {
  font-size: 2.1rem;
  color: #181818;
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link .dropdown {
  width: 20rem;
  position: absolute;
  top: 150%;
  right: -95%;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(249, 87, 0, 0.89), rgba(248, 129, 65, 0.89));
  display: none;
  animation: moveInTopDropdown 300ms ease-out;
  text-align: center;
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link .dropdown .option {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-top: 2rem;
  font-weight: 400;
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link .dropdown .option:hover {
  background-color: #fc6d20c4;
}
.nav-bar .nav-bar__items .nav-bar__links .nav-bar__link:hover .dropdown {
  display: block;
}
.nav-bar .nav-bar__items .nav-bar__hamburger {
  font-size: 2.7rem;
  color: #f95700ff;
}
@media (min-width: 992px) {
  .nav-bar .nav-bar__items .nav-bar__hamburger {
    display: none;
  }
}

.footer {
  background-color: #181818;
  padding: 7rem 0;
}
.footer .footer-content {
  max-width: 1250px;
  margin: auto;
}
.footer .footer-content .footer-content__main {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-content .footer-content__main .column {
  width: 25%;
  padding: 0 3rem;
}
@media (max-width: 770px) {
  .footer .footer-content .footer-content__main .column {
    width: 50%;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 368px) {
  .footer .footer-content .footer-content__main .column {
    width: 100%;
  }
}
.footer .footer-content .footer-content__main .column h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  position: relative;
  color: transparent;
  background-image: linear-gradient(to right, #f95700, #f88141);
  -webkit-background-clip: text;
  font-weight: 800;
}
.footer .footer-content .footer-content__main .column h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 4rem;
  left: 0;
  bottom: -5px;
  background-color: #f88141;
}
.footer .footer-content .footer-content__main .column ul {
  list-style: none;
}
.footer .footer-content .footer-content__main .column ul li a {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #747272;
  display: block;
  transition: all 400ms;
}
.footer .footer-content .footer-content__main .column ul li a:hover {
  color: #fff;
  transform: translateX(-1rem);
}
.footer .footer-content .footer-content__main .column ul li:not(last-child) {
  margin-bottom: 1.2rem;
}
.footer .footer-content .footer-content__main .column .social-media-handles {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-content .footer-content__main .column .social-media-handles a {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: #fff;
  border-radius: 50%;
  background-color: #f05806;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
  margin: 0 1.2rem 1.2rem 0;
  font-size: 2.2rem;
  transition: all 200ms;
}
.footer .footer-content .footer-content__main .column .social-media-handles a:hover {
  transform: scale(1.2);
  color: #181818;
  background-color: #fff;
}

.header {
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.5942752101) 0%, rgba(2, 0, 36, 0.3925945378) 100%), url(../imgs/hon.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.header .header-content {
  width: 95%;
  height: 70%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .header .header-content {
    height: 80%;
  }
}

.about-us {
  width: 100%;
  padding: 8rem 0;
  background-color: #fff;
}
.about-us .about-us__container {
  width: 120rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1220px) {
  .about-us .about-us__container {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.about-us .about-us__container img {
  height: auto;
  width: 600px;
  max-width: 100%;
}
@media screen and (max-width: 1220px) {
  .about-us .about-us__container img {
    margin-bottom: 3.5rem;
  }
}
.about-us .about-us__container .about-us__text {
  width: 550px;
  max-width: 100%;
  padding: 0 1rem;
}
@media screen and (max-width: 1220px) {
  .about-us .about-us__container .about-us__text {
    margin-left: 1rem;
  }
}
.about-us .about-us__container .about-us__text h2 {
  color: #f05806;
  font-size: 3rem;
  margin-bottom: 1.8rem;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .about-us .about-us__container .about-us__text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.about-us .about-us__container .about-us__text h1 {
  font-family: "Fredoka One", cursive;
  font-size: 5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #f95700, #f88141);
  -webkit-background-clip: text;
}
.about-us .about-us__container .about-us__text h1 span {
  color: transparent;
}
@media screen and (max-width: 650px) {
  .about-us .about-us__container .about-us__text h1 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
  }
}
.about-us .about-us__container .about-us__text p {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-bottom: 5rem;
  color: #4d4c4c;
}
@media screen and (max-width: 650px) {
  .about-us .about-us__container .about-us__text p {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
  }
}
.about-us .about-us__container .about-us__text .btn {
  display: inline-block;
  font-size: 2rem;
  background-image: linear-gradient(to right, #f95700, #f88141);
  color: #fff;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 300ms;
}
.about-us .about-us__container .about-us__text .btn:hover {
  background-image: linear-gradient(to right, #f88141, #f95700);
  box-shadow: 0 5px 15px #4d4c4c;
  transform: translateY(-3px);
}
.about-us .about-us__container .about-us__text .btn:active {
  box-shadow: 0 2px 15px #4d4c4c;
  transform: translateY(0px);
}

.blog-section {
  width: 100%;
  padding: 8rem 0;
  padding-bottom: 25rem;
  background-color: #F8F8F8;
}
@media (max-width: 1750px) {
  .blog-section {
    padding-bottom: 5rem;
  }
}
.blog-section .blog-slider-paragraph {
  width: 65%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
@media (max-width: 1220px) {
  .blog-section .blog-slider-paragraph {
    width: 90%;
  }
}
.blog-section .blog-slider-paragraph .blog-paragraph {
  width: 83%;
  max-width: 100%;
  padding: 5rem;
  background-image: linear-gradient(to right bottom, #f95700, #f88141);
  border-radius: 5px;
}
@media (max-width: 1750px) {
  .blog-section .blog-slider-paragraph .blog-paragraph {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .blog-section .blog-slider-paragraph .blog-paragraph {
    padding: 3rem;
  }
}
.blog-section .blog-slider-paragraph .blog-paragraph h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #fff;
}
.blog-section .blog-slider-paragraph .blog-paragraph p {
  font-size: 2rem;
  letter-spacing: 2px;
  width: 55%;
}
@media (max-width: 1750px) {
  .blog-section .blog-slider-paragraph .blog-paragraph p {
    width: 100%;
  }
}
.blog-section .blog-slider-paragraph .blog-paragraph p span {
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 3rem;
}
.blog-section .blog-slider-paragraph .blog-slider {
  width: 60rem;
  position: absolute;
  right: 0%;
  top: 55%;
  margin-right: 1rem;
}
@media (max-width: 1750px) {
  .blog-section .blog-slider-paragraph .blog-slider {
    position: static;
    width: 100%;
    margin-top: 6rem;
  }
}
.blog-section .blog-slider-paragraph .blog-slider img {
  width: 100%;
}
.blog-section .blog-slider-paragraph .blog-slider .slider-arrows {
  width: 80px;
  font-size: 5rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1750px) {
  .blog-section .blog-slider-paragraph .blog-slider .slider-arrows {
    margin: 0 auto;
  }
}

.blog-imgs-text-section:not(:last-child) {
  padding: 15rem 0 15rem 0;
}
@media (max-width: 1600px) {
  .blog-imgs-text-section:not(:last-child) {
    padding-top: 5rem;
  }
}

.blog-imgs-text-section:last-child {
  padding-bottom: 15rem;
}
.blog-imgs-text-section:last-child .blog-imgs-text__container {
  background-color: #F0f0f0;
}

.blog-imgs-text-section:last-child {
  background-color: #F0f0f0;
  padding-top: 15rem;
}
@media screen and (max-width: 1220px) {
  .blog-imgs-text-section:last-child .blog__text {
    margin-left: 1rem;
    margin-bottom: 5rem;
  }
}

.blog-imgs-text-section {
  width: 100%;
}
.blog-imgs-text-section .blog-imgs-text__container {
  width: 120rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1220px) {
  .blog-imgs-text-section .blog-imgs-text__container {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.blog-imgs-text-section .blog-imgs-text__container img {
  height: auto;
  width: 500px;
  max-width: 100%;
}
@media screen and (max-width: 1220px) {
  .blog-imgs-text-section .blog-imgs-text__container img {
    margin-bottom: 3.5rem;
  }
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text {
  width: 550px;
  max-width: 100%;
  padding: 0 1rem;
}
@media screen and (max-width: 1220px) {
  .blog-imgs-text-section .blog-imgs-text__container .blog__text {
    margin-left: 1rem;
  }
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text h2 {
  color: #f05806;
  font-size: 3rem;
  margin-bottom: 1.8rem;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .blog-imgs-text-section .blog-imgs-text__container .blog__text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text h1 {
  font-family: "Fredoka One", cursive;
  font-size: 5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #f95700, #f88141);
  -webkit-background-clip: text;
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text h1 span {
  color: transparent;
}
@media screen and (max-width: 650px) {
  .blog-imgs-text-section .blog-imgs-text__container .blog__text h1 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
  }
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text p {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-bottom: 5rem;
  color: #4d4c4c;
}
@media screen and (max-width: 650px) {
  .blog-imgs-text-section .blog-imgs-text__container .blog__text p {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
  }
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text .btn {
  font-size: 2rem;
  background-image: linear-gradient(to right, #f95700, #f88141);
  color: #fff;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 300ms;
}
.blog-imgs-text-section .blog-imgs-text__container .blog__text .btn:hover {
  background-image: linear-gradient(to right, #f88141, #f95700);
}

/*# sourceMappingURL=style.css.map */
