@mixin common-with-about-us {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-white-secondary;

    @media screen and (max-width: 1220px) {
      width: 100%;
      height: auto;
      justify-content: center;
    }
}

@mixin  common-typography {
    width: 550px;
      max-width: 100%;
      padding: 0 1rem;

      @media screen and (max-width: 1220px) {
        margin-left: 1rem;
      }
      h2 {
        color: $color-dark-orange;
        font-size: 3rem;
        margin-bottom: 1.8rem;
        font-weight: 800;

        @media screen and (max-width: 650px) {
          font-size: 2.5rem;
          margin-bottom: 2rem;
        }
      }

      h1 {
        font-family: "Fredoka One", cursive;
        font-size: 5rem;
        margin-bottom: 3rem;
        background-image: linear-gradient(
          to right,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
        -webkit-background-clip: text;

        span {
          color: transparent;
        }

        @media screen and (max-width: 650px) {
          font-size: 4rem;
          margin-bottom: 3.5rem;
        }
      }

      p {
        font-size: 2rem;
        line-height: 1.7;
        letter-spacing: 2px;
        margin-bottom: 5rem;
        color: $color-dark-gray;

        @media screen and (max-width: 650px) {
          font-size: 1.8rem;
          margin-bottom: 3.5rem;
        }
      }

      .btn {
        display: inline-block;
        font-size: 2rem;
        background-image: linear-gradient(
          to right,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
        color: $color-white;
        padding: 1.5rem 3rem;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        transition: all 300ms;

        &:hover {
          background-image: linear-gradient(
            to right,
            rgb(248, 129, 65),
            rgb(249, 87, 0)
          );
          box-shadow: 0 5px 15px $color-light-gray;
          transform: translateY(-3px);
        }
        &:active {
          box-shadow: 0 2px 15px $color-light-gray;
          transform: translateY(0px);
          background-image: linear-gradient(
            to right,
            rgb(249, 87, 0),
            rgb(248, 129, 65)
          );
        }
      }
}