$color-white: #fff;
$color-orange: #f95700ff;
$color-black: #181818;
// $color-orange: #f37e3f;
$color-dark-orange: #f05806;
$color-gray: lightgray;
$color-light-orange: #fc6d20c4;
$color-transparent-orange: #cc4700;
$color-white-secondary: #FFFFFF;
$color-dark-gray: #4d4c4c;
$color-light-gray: #747272;
$color-text-gray: #a7a4a4;
$color-bg-gray: #F8F8F8;
$color-bg-gray-2: #F0f0f0;
$color-shadow: #252525;

