$color-white: #fff;
$color-orange: #f95700ff;
$color-black: #181818;
// $color-orange: #f37e3f;
$color-dark-orange: #f05806;
$color-gray: lightgray;
$color-light-orange: #fc6d20c4;
$color-transparent-orange: #cc4700;
$color-white-secondary: #FFFFFF;
$color-dark-gray: #4d4c4c;
$color-light-gray: #747272;