//STYLING FOR FOOTER
.footer {
    background-color: $color-black;
    padding: 7rem 0;
  .footer-content {
    max-width: 1250px;
    margin: auto;

    .footer-content__main {
      display: flex;
      flex-wrap: wrap;

      .column {
        width: 25%;
        padding: 0 3rem;

        @media (max-width: 770px) {
          width: 50%;
          margin-bottom: 2.5rem;
        }

        @media (max-width: 368px) {
          width: 100%;
        }

        h4 {
          font-size: 2rem;
          text-transform: uppercase;
          margin-bottom: 2.5rem;
          position: relative;
          color: transparent;
          background-image: linear-gradient(
            to right,
            rgb(249, 87, 0),
            rgb(248, 129, 65)
          );
          -webkit-background-clip: text;
          font-weight: 800;

          //ADDING A PSEUDO ELEMENT FOR THAT SHORT UNDERLINE UNDER COLUMN HEADING
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 4rem;
            left: 0;
            bottom: -5px;
            background-color: rgb(248, 129, 65);
          }
        }
        ul {
          list-style: none;

          li {
            a {
              font-size: 1.8rem;
              text-transform: capitalize;
              color: $color-light-gray;
              display: inline-block;
              transition: all 400ms;

              &:hover {
                color: $color-white;
                transform: translateX(-1rem);
              }
            }

            &:not(last-child) {
              margin-bottom: 1.2rem;
            }
          }
        }

        .social-media-handles {
          display: flex;
          flex-wrap: wrap;
          a {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            color: $color-white;
            border-radius: 50%;
            background-color: $color-dark-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 4rem;
            margin: 0 1.2rem 1.2rem 0;
            font-size: 2.2rem;
            transition: all 200ms;

            &:hover {
              transform: scale(1.2);
              color: $color-black;
              background-color: $color-white;
            }
          }
        }
      }
    }
  }
}
