//STYLING FOR HEADER
.header {
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;

  .header-content {
    width: 95%;
    height: 70%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    @media (max-width: 500px) {
      height: 80%;
    }
  }
}
