//ABOUT US SECTION
.about-us {
  width: 100%;
  padding: 8rem 0;
  background-color: $color-white;

  .about-us__container {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-white-secondary;

    @media screen and (max-width: 1220px) {
      width: 100%;
      height: auto;
      justify-content: center;
    }

    img {
      height: auto;
      width: 600px;
      max-width: 100%;

      @media screen and (max-width: 1220px) {
        margin-bottom: 3.5rem;
      }
    }

    .about-us__text {
      width: 550px;
      max-width: 100%;
      padding: 0 1rem;

      @media screen and (max-width: 1220px) {
        margin-left: 1rem;
      }
      h2 {
        color: $color-dark-orange;
        font-size: 3rem;
        margin-bottom: 1.8rem;
        font-weight: 800;

        @media screen and (max-width: 650px) {
          font-size: 2.5rem;
          margin-bottom: 2rem;
        }
      }

      h1 {
        font-family: "Fredoka One", cursive;
        font-size: 5rem;
        margin-bottom: 3rem;
        background-image: linear-gradient(
          to right,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
        -webkit-background-clip: text;

        span {
          color: transparent;
        }

        @media screen and (max-width: 650px) {
          font-size: 4rem;
          margin-bottom: 3.5rem;
        }
      }

      p {
        font-size: 2rem;
        line-height: 1.7;
        letter-spacing: 2px;
        margin-bottom: 5rem;
        color: $color-dark-gray;

        @media screen and (max-width: 650px) {
          font-size: 1.8rem;
          margin-bottom: 3.5rem;
        }
      }

      .btn {
        display: inline-block;
        font-size: 2rem;
        background-image: linear-gradient(
          to right,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
        color: $color-white;
        padding: 1.5rem 3rem;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        transition: all 200ms;

        &:hover {
          background-image: linear-gradient(
            to right,
            rgb(248, 129, 65),
            rgb(249, 87, 0)
          );
          box-shadow: 0 5px 15px $color-light-gray;
          transform: translateY(-3px);
        }

        &:active {
          box-shadow: 0 2px 15px $color-light-gray;
          transform: translateY(0px);
          background-image: linear-gradient(
            to right,
            rgb(249, 87, 0),
            rgb(248, 129, 65)
          );
        }
      }
    }
  }
}

//BLOG SECTION
//STYLING OF BLOG SECTION WITH SLIDER
.blog-section {
  width: 100%;
  padding: 8rem 0;
  padding-bottom: 25rem;
  background-color: $color-bg-gray;

  @media (max-width: 1750px) {
    padding-bottom: 5rem;
  }

  .blog-slider-paragraph {
    width: 65%;
    margin: 0 auto;
    // background-color: $color-black;
    position: relative;
    max-width: 1200px;

    @media (max-width: 1220px) {
      width: 90%;
    }

    .blog-paragraph {
      width: 83%;
      max-width: 100%;
      padding: 5rem;
      background-image: linear-gradient(
        to right bottom,
        rgb(249, 87, 0),
        rgb(248, 129, 65)
      );
      border-radius: 5px;
      transition: all 200ms;

      &:hover {
        background-image: linear-gradient(
          to left bottom,
          rgb(249, 87, 0),
          rgb(248, 129, 65)
        );
      }

      @media (max-width: 1750px) {
        width: 100%;
      }

      @media (max-width: 650px) {
        padding: 3rem;
      }

      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        color: $color-white;
      }

      p {
        font-size: 2rem;
        letter-spacing: 2px;
        width: 55%;

        @media (max-width: 1750px) {
          width: 100%;
        }

        span {
          color: $color-white-secondary;
          display: inline-block;
          margin-bottom: 3rem;
        }
      }
    }

    .blog-slider {
      width: 60rem;
      position: absolute;
      right: 0%;
      top: 55%;
      margin-right: 1rem;

      @media (max-width: 1750px) {
        position: static;
        width: 100%;
        margin-top: 6rem;
      }

      img {
        width: 100%;
      }

      .slider-arrows {
        width: 80px;
        // background-color: $color-black;
        font-size: 5rem;
        color: gray;
        display: flex;
        justify-content: space-between;

        i {
          display: inline-block;
          transition: all 200ms;
          &:hover {
            font-size: 6rem;
            transform: translateY(-5px);
          }
        }

        @media (max-width: 1750px) {
          margin: 0 auto;
        }
      }
    }
  }
}

//STYLING OF BLOG SECTION WITH IMAGES (SIMILAR LAYOUT WITH ABOUT US SECTION ABOVE)
.blog-imgs-text-section:not(:last-child) {
  padding: 15rem 0 15rem 0;

  @media (max-width: 1600px) {
    padding-top: 5rem;
  }
}

.blog-imgs-text-section:last-child {
  padding-bottom: 15rem;

  .blog-imgs-text__container {
    background-color: $color-bg-gray-2;
  }
}

.blog-imgs-text-section:last-child {
  background-color: $color-bg-gray-2;
  padding-top: 15rem;

  .blog__text {
    @media screen and (max-width: 1220px) {
      margin-left: 1rem;
      margin-bottom: 5rem;
    }
  }
}

.blog-imgs-text-section {
  width: 100%;

  .blog-imgs-text__container {
    
    @include common-with-about-us;

    img:last-child {
      box-shadow: 5px 5px 10px $color-light-gray;
    }

    img {
      height: auto;
      width: 500px;
      max-width: 100%;



      &:not(:last-child) {
        box-shadow: -5px 5px 10px $color-dark-gray;
      }

      @media screen and (max-width: 1220px) {
        margin-bottom: 3.5rem;
      }
    }

    .blog__text {
      @include common-typography;
    }
  }
}
