<!DOCTYPE html>
<html lang="en" ng-app="patrona">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="imgs/faviconn.png">
    <title>Patrona Puppy</title>
  </head>
  <body ng-controller="mainController">
    <!--HEADER-->
    <header class="header">
      <!--A CONTAINER FOR CONVENIENCE-->
      <div class="header-content">
        <!--MAIN NAVBAR-->
        <nav class="nav-bar">
          <div class="nav-bar__brand">
            <div class="brand-logo">
              <img src="imgs/Paw_Print.svg" alt="" />
            </div>
            <div class="brand-name">Patrona<span>Puppy</span></div>
          </div>
          <div class="nav-bar__items">
            <ul class="nav-bar__links">
              <li class="nav-bar__link">Home
              </li>
              <li class="nav-bar__link">Blog +
                <div class="dropdown">
                  <a href="#" class="option">Dogs Nutrition</a>
                  <a href="#" class="option">QnA</a>
                  <a href="#" class="option">Contact Us</a>
                </div>
              </li>
              <li class="nav-bar__link">Dog Breeds
              </li>
            </ul>
            <div class="nav-bar__button">
              <a href="#" class="btn">My Collection</a>
            </div>
            <div class="nav-bar__hamburger"  id="hamburger" ng-click="hamburger_menu=!hamburger_menu">
              <i class="far fa-bars" id="ham-icon" ></i>
            </div>
        </nav>
        <div class="navbar-dropdown u-display-block" id="menu" >
          <ul class="navbar-dropdown__options" ng-class="{'u-hamburger-menu-full': hamburger_menu}">
            <li class="navbar-dropdown__option">
              <a href="#" class="option">Home</a>
            </li>
            <li class="navbar-dropdown__option">
              <a href="#" class="option" id="blog" ng-click="blog_dropdown=!blog_dropdown">Blog &plus;</a>
              <ul class="navbar-dropdown__option--menu" ng-class="{'u-blog_dropdown-full': blog_dropdown}">
                <li class="menu-option">honolulu</li>
                <li class="menu-option">honolulu</li>
                <li class="menu-option">honolulu</li>
                <li class="menu-option">honolulu</li>
              </ul>
            </li>
            <li class="navbar-dropdown__option">
              <a href="#" class="option">Breeds</a>
            </li>
            <li class="navbar-dropdown__option">
              <a href="#" class="option ham-menu-btn my-collection">My Collection</a>
            </li>
          </ul>
        </div>
        <!--MAIN ANIMATED HEADER TEXT-->
        <div class="header-text">
          <div class="text">Lorem ipsum dolor sit amet.</div>
          <h1 class="primary-heading">
            <!--SEPARATING LINES FOR APPLICATION OF DIFFERENT ANIMATIONS-->
            <span class="primary-heading__main">
              Best Offer for you We Are Offering
            </span>
            <span class="primary-heading__sub">
              For Your New Pet Business
            </span>
          </h1>
          <a href="#about-us" class="btn">Explore !</a>
        </div>
      </div>
    </header>
    <!--MAIN CONTENT-->
    <main>
      <!--ABOUT US SECTION-->
      <section class="about-us" id="about-us">
        <div class="about-us__container">
            <img src="imgs/about-us-img.png" alt="">
          <div class="about-us__text">
            <h2>About Us</h2>
            <h1>We have <span> 20+ years experience</span> with pet solutions</h1>
            <p>On the other hand, we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire <br> hat they cannot foresee the pain and trouble that arund to ensue; and equal blame belongs.we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire, that they cannot foresee.</p>
            <a href="" class="btn">Learn More</a>
          </div>
        </div>
      </section>
      <!--BLOG SECTION-->
      <!--BLOG SECTION WITH SLIDER-->
      <section class="blog-section">
        <div class="blog-slider-paragraph">
          <div class="blog-paragraph">
            <h2>honolulu</h2>
          <p> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident molestias dicta, exercitationem voluptates, quos voluptatem deserunt modi veritatis a aut. Facere possimus autem cupiditate temporibus hic neque excepturi eaque.</span><br>
          <span>Quaerat possimus vel, maiores quibusdam suscipit ad, facere, corporis eaque omnis explicabo temporibus similique dolores architecto nobis? Cumque fugiat modi molestiae id sed, nemo, magnam exercitationem quo, quasi obcaecati necessitatibus.</span>  </p>
          </div>
          <div class="blog-slider">
            <img src="imgs/blog-slider-img.jpeg" alt="image">
            <div class="slider-arrows">
              <i class="fad fa-angle-left"></i>
              <i class="fad fa-angle-right"></i>
            </div>
          </div>
        </div>
      </section>
      <!--FIRST BLOG SECTION WITH IMAGE-->
      <section class="blog-imgs-text-section">
        <div class="blog-imgs-text__container">
            <img src="imgs/blog-img.jpg" alt="">
          <div class="blog__text">
            <h1>honolulu</h1>
            <p>On the other hand, we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire <br> hat they cannot foresee the pain and trouble that arund to ensue; and equal blame belongs.we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire, that they cannot foresee.</p>
            <a href="" class="btn">Learn More</a>
          </div>
        </div>
      </section>
      <!--SECOND BLOG SECTION WITH IMAGE-->
      <section class="blog-imgs-text-section u-bg-lightgray">
        <div class="blog-imgs-text__container">
          <div class="blog__text">
            <h1>honolulu</h1>
            <p>On the other hand, we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire <br> hat they cannot foresee the pain and trouble that arund to ensue; and equal blame belongs.we denounce with righteous indiation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded desire, that they cannot foresee.</p>
            <a href="" class="btn">Learn More</a>
          </div>
          <img src="imgs/blog-img-2.jpg" alt="">
        </div>
      </section>
    </main>

    <!--FOOTER-->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-content__main">
          <div class="column">
            <h4>Honolulu</h4>
            <ul>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>

            </ul>
          </div>
          <div class="column">
            <h4>Honolulu</h4>
            <ul>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>

            </ul>
          </div>
          <div class="column">
            <h4>Honolulu</h4>
            <ul>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>
              <li><a href="#">honolulu</a></li>

            </ul>
          </div>
          <div class="column">
            <h4>Follow Us On</h4>
            <div class="social-media-handles">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="script/script.js"></script>
  </body>
</html>
