//HAMBURGER MENU BTN
.ham-menu-btn {
    display: inline-block;
    background-color: $color-black;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: $color-white;
  }