//STYLING FOR NAVBAR
.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: $color-white;
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  z-index: 3000;
  box-shadow: 0 1px 10px $color-black;
  min-height: 70px;

  &__brand {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .brand-logo {
      img {
        width: 30px;

        @media (min-width: 992px) {
          width: 50px;
        }
      }
    }

    .brand-name {
      font-size: 2.7rem;
      font-weight: 800;

      @media (min-width: 992px) {
        font-size: 3.5rem;
      }

      @media (max-width: 450px) {
        display: none;
      }
    }
  }

  .nav-bar__items {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;

    .nav-bar__link:nth-child(2)::before {
      content: "";
      display: inline-block;
      width: 250%;
      height: 200%;
      background-color: red;
      z-index: -1;
      position: absolute;
      left: -80%;
      opacity: 0;
    }

    .nav-bar__links {
      list-style: none;
      display: none;

      @media (min-width: 992px) {
        display: flex;
      }

      .nav-bar__link {
        font-size: 2rem;
        margin: 0 2.5rem;
        color: $color-orange;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        transition: all 200ms;

        &:hover {
          font-size: 2.1rem;
          color: $color-black;
        }

        .dropdown {
          width: 20rem;
          position: absolute;
          top: 150%;
          right: -95%;
          padding: 1rem 2rem;
          background-image: linear-gradient(to right bottom, rgba(249, 87, 0, 0.89), rgba(248, 129, 65, 0.89));
          display: none;
          animation: moveInTopDropdown 300ms ease-out;
          text-align: center;

          .option {
            display: block;
            padding: 1rem 0;
            border-bottom: 1px solid $color-white;
            color: $color-white;
            padding-top: 2rem;
            font-weight: 400;

            &:hover {
              background-color: $color-light-orange;
            }
          }
        }
      }

      .nav-bar__link:hover .dropdown {
        display: block;
      }
    }

    .nav-bar__hamburger {
      font-size: 2.7rem;
      color: $color-orange;

      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
